/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --dark-color: #856658;
  --medium-color: #ad9689;
  --light-color: #c6b9b3;
  --dark-gray: dimgray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* all similar content styling codes */
section {
  padding: 100px 0;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.about,
.services,
.skills,
.teams,
.contact,
footer {
  font-family: "Poppins", sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
  color: #575656;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: var(--medium-color);
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: var(--medium-color);
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}
.about .about-content,
.skills .skills-content,
title {
  color: var(--dark-gray);
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}
.navbar .logo img {
  /* width: 13rem;
  height: 4rem; */
  width: 200px;
  height: 80px;
  justify-self: start;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;
}
/* .navbar .sticky .logo img::after {
  opacity: 0;
  color: #fff;
} */

.logo-hover-state {
  display: none;
}

.logo:hover .logo-regular-state {
  display: none;
}

.logo:hover .logo-hover-state {
  display: block;
}

.navbar.sticky {
  padding: 13px 0;
  background: var(--dark-color);
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: #371809;
}
.navbar.sticky .menu li a:hover {
  color: #371809;
}

/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
/* -----------------------------------------------
scroll up starts
----------------------------------------------- */

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: var(--medium-color);
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover {
  filter: brightness(90%);
}
/* -----------------------------------------------
scroll up Ends
----------------------------------------------- */

/* -----------------------------------------------
Home starts
----------------------------------------------- */

/* home section styling */
.home {
  display: flex;
  flex-wrap: wrap;

  background: url("https://images.unsplash.com/photo-1520523839897-bd0b52f945a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80")
    no-repeat center;
  display: grid;

  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  margin: auto 0 auto 30px;
}
.home .home-content .text-1 {
  font-size: 27px;
  margin-left: 10px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
  margin-left: 10px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
  padding-top: 30px;
}
.home .home-content .text-3 span {
  color: #371809;
  font-weight: 500;
}
.home .home-content a {
  display: inline-block;
  background: var(--medium-color);
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 500;
  border-radius: 6px;
  border: 2px solid var(--medium-color);
  transition: all 0.3s ease;
}
/* -----------------------------------------------
home Ends
----------------------------------------------- */

/* -----------------------------------------------
about starts
----------------------------------------------- */

.home .home-content a:hover {
  color: var(--light-color);
  background: var(--dark-color);
  border: var(--dark-color);
}
/* about section styling */
.about .title::after {
  content: "who I am";
}
.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right {
  width: 55%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark-gray);
}
.about .about-content .right .text span {
  color: var(--medium-color);
}
.about .about-content .right p {
  text-align: justify;
  color: var(--dark-gray);
}
/* -----------------------------------------------
about Ends
----------------------------------------------- */

/* .about .about-content .right a {
  display: inline-block;
  background: var(--medium-color);
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid var(--medium-color);
  transition: all 0.3s ease;
}
.about .about-content .right a:hover {
  color: crimson;
  background: none;
} */

/* -----------------------------------------------
Service start
----------------------------------------------- */
/* services section styling */
.services,
.teams {
  color: #343434;
  background: whitesmoke;
}
.services .title::before,
.teams .title::before {
  /* background: #fff; */
}
.services .title::after,
.teams .title::after {
  background: whitesmoke;
  content: "what I provide";
}
.services .serv-content .card {
  width: calc(33% - 20px);
  background: #dfe0dd;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.services .serv-content .card:hover {
  background: var(--light-color);
}
.services .serv-content .card .box {
  transition: all 0.3s ease;
}
.services .serv-content .card:hover .box {
  transform: scale(1.05);
}
.services .serv-content .card i {
  font-size: 50px;
  color: var(--medium-color);
  transition: color 0.3s ease;
}
.services .serv-content .card:hover i {
  color: #fff;
}
.services .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
/* -----------------------------------------------
service Ends
----------------------------------------------- */

/* -----------------------------------------------
Skill starts
----------------------------------------------- */

/* skills section styling */

.skills .title::after {
  content: "what I believe";
}
.skills .skills-content .column {
  width: calc(50% - 30px);
}
.skills .skills-content .left .text-left {
  font-size: 20px;
  font-weight: 600;
  /* margin-bottom: 10px; */
  color: var(--dark-gray);
}
.skills .skills-content .right .text-right {
  font-size: 20px;
  font-weight: 600;
  /* margin-bottom: 10px; */
  color: var(--dark-gray);
}
.skills .skills-content .left .left {
  text-align: justify;
  color: var(--dark-gray);
}
.skills .skills-content .right .right {
  text-align: justify;
  color: var(--dark-gray);
}
.skills .skills-content .right a {
  display: inline-block;
  background: var(--medium-color);
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  border: 2px solid var(--medium-color);
  transition: all 0.3s ease;
}

.skills .skills-content .right a:hover {
  color: var(--light-color);
  background: var(--dark-color);
  border: var(--dark-color);
}
/* -----------------------------------------------
skill Ends
----------------------------------------------- */

/* .skills .skills-content .left a:hover {
  color: crimson;
  background: none;
}
.skills .skills-content .right .bars {
  margin-bottom: 15px;
}
.skills .skills-content .right .info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}
.skills .skills-content .right .line {
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}
.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: crimson;
} */
/* .skills-content .right .html::before {
  width: 90%;
}
.skills-content .right .css::before {
  width: 60%;
}
.skills-content .right .js::before {
  width: 80%;
}
.skills-content .right .php::before {
  width: 50%;
}
.skills-content .right .mysql::before {
  width: 70%;
} */

/* -----------------------------------------------
Team Starts
----------------------------------------------- */
/* teams section styling */
.teams .title::after {
  content: "who with me";
}
.teams .carousel .card {
  background: #dfe0dd;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
}
.teams .carousel .card:hover {
  background: var(--light-color);
}
.teams .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.teams .carousel .card:hover .box {
  transform: scale(1.05);
}
.teams .carousel .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
  color: #343434;
}
/* .teams .carousel .card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--medium-color);
  transition: all 0.3s ease;
} */
.teams .carousel .card:hover img {
  border-color: #fff;
}
/* -----------------------------------------------
Team Ends
----------------------------------------------- */

/* -----------------------------------------------
owl dots starts
----------------------------------------------- */
.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid var(--medium-color) !important;
  transition: all 0.3s ease;
}
.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
  background: var(--medium-color) !important;
}
/* -----------------------------------------------
owl dots Ends
----------------------------------------------- */

/* -----------------------------------------------
Contact starts
----------------------------------------------- *
/* contact section styling */
.contact .title::after {
  content: "get in touch";
}
.contact .contact-content .column {
  width: calc(50% - 30px);
}
.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark-gray);
  padding-top: 20px;
}
.contact .contact-content .left p {
  text-align: justify;
  color: var(--dark-gray);
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 30px;
}
.contact .contact-content .row i {
  font-size: 25px;
  color: var(--medium-color);
}
.contact .contact-content .info .head {
  font-weight: 500;
}
.contact .contact-content .info .sub-title {
  color: #333;
}
.contact .right form .fields {
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea {
  height: 80px;
  width: 100%;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .email {
  margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: #b3b3b3;
}
.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right form .button {
  height: 47px;
  width: 170px;
}
.contact .right form .button button {
  width: 100%;
  height: 100%;
  border: 2px solid var(--medium-color);
  background: var(--medium-color);
  color: #fff;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact .right form .button button:hover {
  color: var(--light-color);
  background: var(--dark-color);
  border: var(--dark-color);
}

/* -----------------------------------------------
Contact Ends
----------------------------------------------- */

/* -----------------------------------------------
Footer Starts
----------------------------------------------- */

/* footer section styling */
footer {
  /* background: #dfe0dd; */
  padding: 15px 23px;
  color: #343434;
  text-align: center;
}
footer span a {
  color: var(--medium-color);
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
}

/* -----------------------------------------------
Footer ends
----------------------------------------------- */

/* -----------------------------------------------
Map starts
----------------------------------------------- */

/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

/* -----------------------------------------------
Map Ends
----------------------------------------------- */
/* -----------------------------------------------
Social icons start
----------------------------------------------- */

.social-container {
  margin-top: 20px;
  padding-left: 10px;
  display: flex;
  /* width: 100%;
  height: 100%; */
  align-items: center;
  justify-content: left;
  height: 100vh;
  text-align: center;
}

.social-icons {
  margin-top: 20px;
  padding: 10px;
  list-style: none;
  margin: 1em;
}
.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 2.2em;
}
.social-icons i {
  color: #fff;
  position: absolute;
  top: absolute;
  top: 9px;
  left: 8px;
  transition: all 265ms ease-out;
}
.social-icons a {
  display: inline-block;
}
.social-icons a:before {
  transform: scale(1);
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  background: #f5f5f5;
  transition: all 265 ease-out;
}
.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-out;
}
.social-container a:hover i {
  transform: scale(2, 2);
  color: #ff003c;
  background: -webkit-linear-gradient(45deg, #ff004c, #c648c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-out;
}

.quote-container {
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.quote-text {
  font-size: 2.75rem;
}
.long-quote {
  font-size: 2rem;
}
.fa-quote-left {
  font-size: 4rem;
}
.quote-author {
  margin-top: 15px;
  font-size: 2rem;
  font-style: italic;
  font-size: 20px;
}

/* -----------------------------------------------
Social icons ends
----------------------------------------------- */

/* -----------------------------------------------
Mobile respomsive starts
----------------------------------------------- */

/* responsive media query start */

@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }

  .home .home-content .text-2 {
    font-size: 35px;
  }
  .home .fas {
    font-size: 35px;
  }
  .home .home-content .text-3 {
    font-size: 15px;
  }
  .home .home-content a {
    margin-top: 20px;
  }
  .about .about-content .left {
    width: 45%;
  }
  .about .about-content .left img {
    margin-top: 40px;
    height: 600px;
    width: 600px;
    object-fit: cover;
    border-radius: 6px;
  }
  .about .about-content .right {
    width: 55%;
  }
  .about .about-content .right .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark-gray);
  }
  .about .about-content .right .text span {
    color: var(--medium-color);
    font-size: 20px;
  }
  .about .about-content .right p {
    text-align: justify;
    color: var(--dark-gray);
  }

  .teams .carousel .card .text {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    color: #343434;
  }
}
/* ---------------------------------------------------- */
/* ipad  */
@media (max-width: 1104px) {
  .home .home-content .text-2 {
    font-size: 35px;
  }
  .home .fas {
    font-size: 35px;
  }
  .home .home-content .text-3 {
    font-size: 15px;
  }
  .home .home-content a {
    margin-top: 40px;
  }

  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}
/* ---------------------------------------------------- */
/* ipad*/
@media (max-width: 991px) {
  .home .home-content .text-2 {
    font-size: 35px;
  }
  .home .fas {
    font-size: 35px;
  }
  .home .home-content .text-3 {
    font-size: 15px;
  }
  .home .home-content a {
    margin-top: 40px;
  }

  .about .about-content .left img {
    height: 400px;
    width: 400px;
  }
}
/* 
  .about .about-content .right .text typing-2 {
    color: var(--medium-color);
    font-size: 8px;
  }
  .about .about-content .right .text {
    font-size: 8px;
    font-weight: 400;
    margin-bottom: 10px;
    color: var(--dark-gray);
  } */

/* ---------------------------------------------------- */
/* iphone x */
@media (max-width: 947px) {
  .max-width .home {
    padding: 0 23px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
  .home .home-content .text-2 {
    font-size: 35px;
  }
  .home .fas {
    font-size: 35px;
  }
  .home .home-content .text-3 {
    font-size: 15px;
  }
  .home .home-content a {
    font-size: 20px;
  }
  .services .serv-content .card {
    width: 100%;
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: var(--medium-color);
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 50px;
    text-align: center;
  }
  .home .home-content .text-3 {
    font-size: 35px;
    padding-top: 10px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}
/* ----------------------------------------- */
@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 35px;
  }
  .home .fas {
    font-size: 35px;
  }
  .home .home-content .text-3 {
    font-size: 15px;
  }
  .home .home-content a {
    font-size: 20px;
  }
  .services .serv-content .card {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 35px;
  }
  .home .fas {
    font-size: 35px;
  }
  .home .home-content .text-3 {
    font-size: 15px;
  }
  .home .home-content a {
    margin-left: 80px;
    margin-top: 20px;
  }
  .about .about-content .right .text,
  .skills .skills8-content .left .text {
    font-size: 19px;
    text-align: center;
  }
  .contact .right form .fields {
    flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email {
    margin: 0;
  }
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
}
/* -----------------------------------------------
Mobile respomsive
----------------------------------------------- */
